body {
      backgraund: #CCCCCC
}

#banner {
  width:100%;
  {

 h1 {
   style- "text- aling: center:"
 p {
    
}
  text- aling: center;
{
 
 #missão {
         font-sinze= 20px
}

 em strong {
         color: #FF0000;
           

.intens {
 font-size: italic;
}

 benificios {
   background: ;
}
